
body
{
    background-color: #ededed!important;
}
span 
{
    color: #2a2a8f;
}

span, input
{
    margin: 0.4rem 0!important;
}
body, html {
    height: 100%;
}

.RegisterButtons
{
    margin: 0 0.5rem!important;
}

.components {
    margin: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.success {
    color: grey;
}

.errors {
    color: red;
}


.checkboxSpan
{
    margin-left: 0.4rem!important;
    margin-bottom: 0!important;
}

nav {
    background-color: #212529;
}

.componentsAdmin {
    margin: 0.5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

#SignOut
{
    margin-right: 1.5rem!important;
}
/*
#adminMainDiv .form-control
{
    width: 60%;
}*/

table a {
    text-decoration: none;
}
table {
    border: 0;
    padding: 2rem;
    
}
tr {
    border: 0;
    border-bottom: 1px solid grey !important;
}

tr > td {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


#BodyPlaceHolder_ListThesesPanel {
    margin-bottom: 1rem !important;

}

#ListSupGridView {
    width: 60% !important;
    margin-bottom: 0.5rem;
}

#ListThesesGridView
{
    width: 100%;
}